@model JobAdderChallenge.Models.Home

@{
    ViewBag.Title = "Index";
}

<h2>Jobs</h2>

<ul>
    @foreach (var job in Model.Jobs)
    {
        <li>@job.Name</li>
    }
</ul>


<h2>Candidates</h2>

<ul>
    @foreach (var candidate in Model.Candidates)
    {
        <li>@candidate.Name</li>
    }
</ul>


